<h1><%= title %></h1>
<div class="form_div">
    <form class="login-form">
      <label for="email">Email:</label>
      <input type="email" class="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" class="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p class="signUp">No account? <a href="/account/register">Sign up</a></p>
</div>


