<h1><%= title %></h1>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<a href="/inv/new_class">Add new Classfication</a>
<br><br>
<a href="/inv/new_vehicle">Add new New Vehicle</a>

<h2>Manage Inventory</h2>

<p>Choose a Classfication to see those inventory items.</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>