<h1><%= title %></h1>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-container">
  <i>ALL FIELDS ARE REQUIRED</i>
  <form class="vehicle-form" action="/inv/new_vehicle" method = "POST" >
      <label for="classification">Choose a Classification:</label>
      <%- classificationListHTML %>
      <label for="make">Make</label>
      <input id="make" type="text" name ="inv_make" placeholder="Min of 3 characters" >

      <label for="model">Model</label>
      <input id="model" type="text" name="inv_model" placeholder="Min of 3 characters" >

      <label for="Description">Description</label>
      <textarea id="Description" placeholder="Vehicle description" name="inv_description" ></textarea>

      <label for="path">image Path</label>
      <input type="text" id="path" name="inv_image" placeholder="Path to image" >

      <label for="thumbnails">Thumbnails Path</label>
      <input type="text" id="thumbnails" name="inv_thumbnail" placeholder="Path to thumbnails" >

      <label for="price">Price</label>
      <input type="number" name="inv_price" id="price" placeholder="Decimal or integer" >

      <label for="year">Year</label>
      <input type="number" name="inv_year" id="year" placeholder="4-digit year">

      <label for="miles">Miles</label>
      <input type="number" name="inv_miles" id="miles" placeholder="Digits only">

      <label for="color">Color</label>
      <input type="text" name="inv_color" id="color" placeholder="Vehicle color" >

      <button type="submit">Add Vehicle</button>
  </form>
</div>